<app-container class="app-container">
  <app-button-display buttontext="Listen on Spotify" src="../../../assets/PSB_IMAGES/MUSIC/SPOTIFY_LOGO.png" alt="Spotify Logo"> </app-button-display>
  <app-button-display buttontext="Listen on Apple Music" src="../../../assets/PSB_IMAGES/MUSIC/APPLE_LOGO.png" alt="Apple Logo"> </app-button-display>
  <app-button-display buttontext="Listen on Youtube" src="../../../assets/PSB_IMAGES/MUSIC/YTB_MUSIC_LOGO.png" alt="Youtube Logo"> </app-button-display>
</app-container>
