<div class="latest-release-card">
  <figure>
    <img src="{{ src }}" alt="{{ alt }}" />
  </figure>
  <div class="latest-release-card-text">
    <h1 class="latest-release-card-text-title"> THE DEVIL'S FEE</h1>
    <p class="release-notes">
      <br>• First time on vinyl - limited to 500 units [SOLD OUT]
      <br>• Second pressing [SOLD OUT]
      <br>• Handpicked selection of songs from the game
      <br>• Limited edition white vinyl
      <br>• Original artwork by Senior Concept Artist Ina Koos
    </p>
    <app-button buttontext="BUY NOW"></app-button>
  </div> 
</div>
