<app-container>
    <app-button-display buttontext="Nicolette Stewart – Singer & Songwriter " src="../../../assets/PSB_IMAGES/InstagramLogo.png" alt="Spotify Logo"> </app-button-display>
    <app-button-display buttontext="Dominik Zingler – Pianist & Composer" src="../../../assets/PSB_IMAGES/InstagramLogo.png" alt="Spotify Logo"> </app-button-display>
    <app-button-display buttontext="Jonas Obermüller – Bassist & Composer" src="../../../assets/PSB_IMAGES/InstagramLogo.png" alt="Spotify Logo"> </app-button-display>
    <app-button-display buttontext="Chris Green – Guitarist & Composer" src="../../../assets/PSB_IMAGES/InstagramLogo.png" alt="Spotify Logo"> </app-button-display>
    <app-button-display buttontext="Simon Lomet – Drummer & Composer" src="../../../assets/PSB_IMAGES/InstagramLogo.png" alt="Spotify Logo"> </app-button-display>
</app-container>
